/*responsividades*/
@media (max-height: 630px) {
  .container{  /*esse container é do   INDEX*/
    top: 68%;
    height: 75vh;
  }
}
@media (max-height: 530px) {
  .container{
    height: 80vh;
    top: 80%;
  }
}
@media (max-height: 460px) {
  .container{
    height: 100vh;
    top: 90%;
  }
}
@media (max-width: 1000px) { /*responsividades da largura da tela aqui*/
  .btn{
    width: 75px;
  }
  .input {
    width: 150px;
  } 
  .input:focus {
    width: 160px;
  }
}

@media (max-width: 640px) {
  img{
    max-width: 150px;
    height: 80px;
  }
  .input {
    width: 50px;
  } 
  .input:focus {
    width: 60px;
  }
}
@media (min-width: 360px) and (max-width: 600px){
  .btn{
    display: grid;
    width: 90px;
    margin-bottom: 2px;
    margin-right: 7px;
    height: 35px;
  }
}
